language: node_js
node_js:
  - "6"
  - "8"

addons:
  firefox: "latest"

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

before_install:
  npm install karma-cli -g
  
script: 
  - npm test

after-script:
  - npm run coverage
